@tailwind base;
@tailwind components;
@tailwind utilities;
/* Archivos globales*/
body.dark-mode {
    background-color: #111827; /* bg-gray-900 */
    color: white;
}

body.light-mode {
    background-color: #f9fafb; /* bg-gray-50 */
    color: #111827; /* text-gray-900 */
}